rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{path=**}/feedItems_v1/{item} {
      allow read: if true;
    }
  }
}
